:root {
  --flexoki-black:        #100F0F;
  --flexoki-950:          #1C1B1A;
  --flexoki-900:          #282726;
  --flexoki-850:          #343331;
  --flexoki-800:          #403E3C;
  --flexoki-700:          #575653;
  --flexoki-600:          #6F6E69;
  --flexoki-500:          #878580;
  --flexoki-300:          #B7B5AC;
  --flexoki-200:          #CECDC3;
  --flexoki-150:          #DAD8CE;
  --flexoki-100:          #E6E4D9;
  --flexoki-50:           #F2F0E5;
  --flexoki-paper:        #FFFCF0;
  --flexoki-dark-red:     #AF3029;
  --flexoki-dark-orange:  #BC5215;
  --flexoki-dark-yellow:  #AD8301;
  --flexoki-dark-green:   #66800B;
  --flexoki-dark-cyan:    #24837B;
  --flexoki-dark-blue:    #205EA6;
  --flexoki-dark-purple:  #5E409D;
  --flexoki-dark-magenta: #A02F6F;
}

code {
  padding: 2px 5px;
  color: var(--flexoki-50);
  background-color: #373842;
}

.chroma .hl {
  background-color: var(--flexoki-dark-blue);
}
